
.blank {
    position: relative;
    height: 10vw;
}

.description {
    color: 	#ECD4E7;
    margin-left: 6.4rem;
    font-size: 1.3rem;

}

.boxwrapper {
    margin-left: 6.4rem;
    margin-right: 6.2rem;
    height: 55rem;
    position: relative;
    top: 1rem;
    
}

.box1 {
    height: 48%;
    width: 54%;
    float: left;
    background-color: white;
    cursor: pointer;
}

.boximg1 {
    height: 100%;
    background-position: center; 
    max-width: 100%;
    object-fit: contain;
    background-image: url('../../assets/rocket.gif');
    object-fit:cover;
}

.box2{
    height: 48%;
    width: 41%;
    background-image: url('../../assets/sketchystudios.gif');
    background-position: center;
    float: right;
    position: relative; 
    right: 2%;
    cursor: pointer;
}

.box3 {
    height: 45%;
    background-image: url('../../assets/website.gif');
    background-position: center;
    float: bottom;
    width: 49%;
    position: relative;
    top: 52%;
    cursor: pointer;
}

.box4 {
    height: 45%;
    background-image: url('../../assets/comingsoon.gif');
    background-position: center;
    float: right;
    width: 46%;
    position: relative;
    right: 2%;
    top:4%;
    cursor: pointer;
}
.overlay1 {
    display: flex;
    justify-content: center;
    align-items: center !important;
    position: relative;
    top: 50%;
    transform: translateY(-50.1%);
    width: 100%;
    height: 100.3%;
    background: rgba(9, 73, 117 , 0.5);
    color: white;
    display: none;
}

.overlay2{
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100.3%;
    background: rgba(118, 3, 125, 0.5);
    color: white;
    display: none;
    
}

.overlay3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.3%;
    transform: translateY(-106.9%);
    width: 100%;
    height: 100%;
    background: rgba(68, 13, 120 ,0.5);
    color: white;
    display: none;
}

.overlay4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background: rgba(67, 91, 150, 0.5);
    color: white;
    display: none;
}

.subtitle {
    font-size: 6vh;
    
}

.box1:hover .overlay1 {
    display: flex;
    flex-direction: column;
  }

.box2:hover .overlay2{
    display: flex;
    flex-direction: column;
}

.box3:hover .overlay3{
    display: flex;
    flex-direction: column;
}

.box4:hover .overlay4{
    display: flex;
    flex-direction: column;
}

.projectdes{
    color: white;
    font-family: Helvetica, Sans-Serif;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.1em;
    margin-left: 1rem;
    margin-left: 1rem
    
}

.projectbutton{
    margin-top: 1rem;
    padding: 0.4rem !important;
    position: relative;
    
}

.projectbutton:hover {
    background-color: #DDEDF4 !important;
}

#btntwo:hover {
    background-color: #fcc9f6 !important;
}

#btnthree:hover {
    background-color: #d7cdf7 !important;

}

#btntwo_left {
    position: relative;
    left: 3rem;
}

#btntwo_left:hover {
    background-color: #fcc9f6 !important;
}

#btntwo{
    position: relative;
    right: -1rem;
}

@media screen and (max-width: 942px) {
    .subtitle{
        font-size: 16px;
    }

    .projectdes {
        font-size: 11px !important;

    }

    .projectbutton {
        padding: 2px 2px !important;
        position: relative;
        top: -2rem;
        left: 2rem;
    }

    #btnthree{
        position: relative;
        left: -0.5rem;
    }

    #btntwo {
        display: none
    }

    #btntwo_left{
        position: relative;
        top: 0.5rem;
        
    
    }
   
    .boxwrapper {
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;
    }


    

    .description{
        margin-left: 2rem !important;
        margin-right: 2rem;
        position: relative;
        top: 1rem;
    }

    h3{
        position: relative;
        top: 1rem !important;
        right: 5rem;
    }

    .blank{
        height: 15vh;
    }
}